*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ffffff;
}
.container{
    width: 60%;
    margin: 0 auto;
}

header{
    background:
     #FF6059;
}

.navbar{
    display: flex;
    height: 5rem;
    
    
}
.main__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
}

.btn > button{
    border: 1px solid #ccc;
    border-radius: 50px;
    padding: 0.9rem 2rem;
}








textarea {
    width: 90%;
    display: inline;
    height: 22vh;
    margin: 1rem;
    padding: 0.5rem;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
  }

  .output{
      width: 90%;
      padding: 1rem;
      margin: 0.9rem;
      height: 22vh;
      margin: 1rem;
      padding: 0.5rem;
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
  }